# =========================
# Python / Backend
# =========================
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# =========================
# ML Models (VERY IMPORTANT)
# =========================
model/
*.h5
*.keras

# =========================
# Dataset (DO NOT PUSH)
# =========================
dataset/
data/
*.zip

# =========================
# Logs
# =========================
*.log

# =========================
# Node / React Frontend
# =========================
node_modules/
dist/
build/

# =========================
# Vite / CRA cache
# =========================
.vite/
.cache/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/