.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
  background: #070707;
  border-bottom: 2px solid #dc2626;
}

/* BRAND */
.brand {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  color: #facc15;
}

/* TRAFFIC LIGHT DOT */
.logo-dot {
  width: 10px;
  height: 10px;
  margin-right: 12px;
  border-radius: 50%;
  background: #16a34a;
  box-shadow: 0 0 10px #16a34a;
}

/* LINKS */
.nav-links a {
  margin-left: 32px;
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #facc15;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #dc2626;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}